requirements:-

Choice 1:- pycrypto
$git clone https://github.com/dlitz/pycrypto.git
After that, setup the build and install it..

Pre-Requistes for requirements:-
1. Git
2. Python 2.7 and above (I'm using 2.7 here)
3. If you're not having visual studio installed and No .NET framework, then don't worry.
Install Microsoft Visual C++ 2010 redistributable package for x64 (or) x86 depending your system.
And VC C++ 2008 as mandatory.
If any problem occurs...
Go to this link...(http://www.voidspace.org.uk/python/pycrypto-2.6.1/)
$ git clone <path>
or direct download

```
Choice 2: ruby
I tried ruby 2.2 x64...


Choice 3: crypto++
Didn't try though...
