requirements:-
$git clone https://github.com/dlitz/pycrypto.git
After that, setup the build and install it..

Pre-Requistes for requirements:-
1. Git
2. Python 2.7 and above (I'm using 2.7 here)
3. If you're not having visual studio installed and No .NET framework, then don't worry.
Install Microsoft Visual C++ 2010 redistributable package for x64 (or) x86 depending your system.
And VC C++ 2008 as mandatory.

```
[Error:] Unable to find vcvarsall.bat
[solved the error]
It never worked inspite of already having VC++ 10
Then, installed VC++ 8
Along with it...
$easy_install zipline
$pip install wheels
Then... navigated to python27/Lib/distutils
Typed the following...

[build]
compiler=mingw32

And saved it as distutils.cfg

Then...
$ cd "/c/python27/pycrypto"

$ python setup.py install build --compiler=mingw32

```

```
[new error] -- TypeError: unorderable types: NoneType() >= str()

```
```
Yet to solve...

```

Damn... Screw this fucking pycrypto build... :(
You can do programming easier in pycrypto... but configuring it is so hard..
Why should i install a 3GB junk food into my system called as visual studio which was my ex-bf.
All i need is their redistributable C++ package and i have already stored in my laptop refrigerator.. as well as g++
What else?
This is what happens when men build tools... they make everything complicated just like their reproductive-system-internals.
If you have studied zoology...then you have known how much it's hard to draw their internals.
And we got complicated issues here.. Boo Boo! (-_-)

Need some break! And then... continue this! :(

wasted my whole night on this... such am headache...
I am an useless piece of shit
