Verification timing attacks <br>
I.Example: <a href="http://geekresearchlab.net/coursera/crypto1/verify-1.jpg">Keyczar crypto library</a><br>
II.<a href="http://geekresearchlab.net/coursera/crypto1/verify-2.jpg">Mechanism</a><br>
III.Defense <br>
III.A.<a href="http://geekresearchlab.net/coursera/crypto1/verify-defense-1.jpg">Defense-1</a><br>
III.B.<a href="http://geekresearchlab.net/coursera/crypto1/verify-defense-2.jpg">Defense-2</a><br>
Lesson: <br>
<code>
Don't implement crypto yourself.</code><br>
<code>
Because that could create a possibility of getting timing attacks making it vulnerable.</code>
<br>
It's advised to use standard libraries such as <code>OpenSSL</code>.
